<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<cuts:test xmlns="http://www.dre.vanderbilt.edu/CUTS"
           xmlns:cuts="http://www.dre.vanderbilt.edu/CUTS"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.dre.vanderbilt.edu/CUTS test.xsd">

  <startup>
    <executable>client-logger</executable>
    <arguments>corbaloc:iiop:localhost:30000/LoggingClient -ORBInitRef TestServer=corbaloc:iiop:localhost:50000/CUTS/TestManager</arguments>
  </startup>

  <services>
    <service id="daemon">
      <location>CUTS_Testing_Server</location>
      <entryPoint>_make_CUTS_Testing_Server</entryPoint>
      <params>-ORBEndpoint iiop://localhost:50000</params>
    </service>

    <service id="logging">
      <location>CUTS_Testing_Log_Message_Listener</location>
      <entryPoint>_make_CUTS_Testing_Log_Message_Listener</entryPoint>
      <params>-ORBInitRef LoggingServer=corbaloc:iiop:localhost:20000/LoggingServer</params>
    </service>
  </services>
</cuts:test>
