<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<cuts:node xmlns="http://www.dre.vanderbilt.edu/CUTS/schemas"
           xmlns:cuts="http://www.dre.vanderbilt.edu/CUTS/schemas"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.dre.vanderbilt.edu/CUTS/schemas cutsnode.xsd">

  <!-- This is the active environment. All other environments will
       remain inactive until they are swapped for this one -->
  <environment id="default" inherit="true" active="true">
    <startup>
      <process id="cuts.logging.server" waitforcompletion="false">
        <executable>${CUTS_ROOT}/bin/cuts-logging-server</executable>
        <arguments> --register-with-iortable=LoggingServer -ORBEndpoint iiop://localhost:20000 -v --debug</arguments>
      </process>

      <process id="cuts.logging.client" delay="5" waitforcompletion="false">
        <executable>${CUTS_ROOT}/bin/cuts-logging-client</executable>
        <arguments> -ORBEndpoint iiop://localhost:30000 --register-with-iortable=LoggingClient -ORBInitRef LoggingServer=corbaloc:iiop:localhost:20000/LoggingServer -v --debug</arguments>
      </process>

      <process id="cuts.testing">
        <executable>${CUTS_ROOT}/bin/cutstest</executable>
        <arguments> -c logging-example.config</arguments>
      </process>
    </startup>
  </environment>
</cuts:node>
