/**
 * @file			default.css
 *
 * $Id: default.css 166 2006-10-09 14:51:29Z hillj $
 *
 * @author		James H. Hill
 */
 
h1 { font-size: 24pt}
h2 { font-size: 18pt}
h3 { font-size: 16pt}
h4 { font-size: 14pt}
h5 { font-size: 12pt}
h6 { font-size: 11pt}

*
{
	font-size: 11pt
}

a
{
	color: blue;
	text-decoration: none;
} 

a:hover 
{
	color: red;
	text-decoration: none;
}

td.menu a 
{
	color: black;
}

td.menu a:hover 
{
	color: red;
}

.title 
{
	font-weight: bold;
}

