config (H1-DeploymentTemplate-0.cdp) {
  generator1.publishHertz=3
  generator2.publishHertz=5
  generator3.publishHertz=3
  generator4.publishHertz=10
  generator5.publishHertz=1
}

config (H1-DeploymentTemplate-1.cdp) {
  generator1.publishHertz=7
  generator2.publishHertz=8
  generator3.publishHertz=10
  generator4.publishHertz=3
  generator5.publishHertz=8
}

config (H1-DeploymentTemplate-2.cdp) {
  generator1.publishHertz=7
  generator2.publishHertz=3
  generator3.publishHertz=3
  generator4.publishHertz=8
  generator5.publishHertz=5
}

config (H1-DeploymentTemplate-3.cdp) {
  generator1.publishHertz=7
  generator2.publishHertz=6
  generator3.publishHertz=4
  generator4.publishHertz=10
  generator5.publishHertz=5
}

config (H1-DeploymentTemplate-4.cdp) {
  generator1.publishHertz=10
  generator2.publishHertz=10
  generator3.publishHertz=3
  generator4.publishHertz=7
  generator5.publishHertz=6
}

