config (H1-DeploymentTemplate-0.cdp) {
  generator1.publishHertz=2
  generator2.publishHertz=1
  generator3.publishHertz=4
  generator4.publishHertz=1
  generator5.publishHertz=4
}

config (H1-DeploymentTemplate-1.cdp) {
  generator1.publishHertz=9
  generator2.publishHertz=7
  generator3.publishHertz=1
  generator4.publishHertz=2
  generator5.publishHertz=9
}

config (H1-DeploymentTemplate-2.cdp) {
  generator1.publishHertz=1
  generator2.publishHertz=6
  generator3.publishHertz=8
  generator4.publishHertz=7
  generator5.publishHertz=2
}

config (H1-DeploymentTemplate-3.cdp) {
  generator1.publishHertz=4
  generator2.publishHertz=3
  generator3.publishHertz=2
  generator4.publishHertz=10
  generator5.publishHertz=1
}

config (H1-DeploymentTemplate-4.cdp) {
  generator1.publishHertz=7
  generator2.publishHertz=5
  generator3.publishHertz=8
  generator4.publishHertz=4
  generator5.publishHertz=7
}

