config (UniqueDeployment1.cdp) {
  host.inst1=node-1
  host.inst2=node-1
  host.inst3=node-1
  host.inst4=node-1
  host.inst5=node-2
}

config (UniqueDeployment15.cdp) {
  host.inst1=node-1
  host.inst2=node-1
  host.inst5=node-1
  host.inst3=node-2
  host.inst4=node-3
}

config (UniqueDeployment22.cdp) {
  host.inst1=node-1
  host.inst2=node-1
  host.inst4=node-2
  host.inst5=node-2
  host.inst3=node-3
}

config (UniqueDeployment23.cdp) {
  host.inst1=node-1
  host.inst2=node-1
  host.inst4=node-2
  host.inst3=node-3
  host.inst5=node-3
}

config (UniqueDeployment25.cdp) {
  host.inst1=node-1
  host.inst2=node-1
  host.inst5=node-2
  host.inst3=node-3
  host.inst4=node-3
}

config (UniqueDeployment33.cdp) {
  host.inst1=node-1
  host.inst3=node-1
  host.inst5=node-1
  host.inst2=node-2
  host.inst4=node-3
}

config (UniqueDeployment46.cdp) {
  host.inst1=node-1
  host.inst4=node-1
  host.inst2=node-2
  host.inst5=node-2
  host.inst3=node-3
}

config (UniqueDeployment50.cdp) {
  host.inst1=node-1
  host.inst2=node-2
  host.inst4=node-2
  host.inst3=node-3
  host.inst5=node-3
}

config (UniqueDeployment67.cdp) {
  host.inst1=node-1
  host.inst3=node-2
  host.inst4=node-2
  host.inst5=node-2
  host.inst2=node-3
}

config (UniqueDeployment70.cdp) {
  host.inst1=node-1
  host.inst3=node-2
  host.inst5=node-2
  host.inst2=node-3
  host.inst4=node-3
}

config (UniqueDeployment76.cdp) {
  host.inst1=node-1
  host.inst4=node-2
  host.inst5=node-2
  host.inst2=node-3
  host.inst3=node-3
}

config (UniqueDeployment83.cdp) {
  host.inst2=node-1
  host.inst3=node-1
  host.inst4=node-1
  host.inst1=node-2
  host.inst5=node-3
}

config (UniqueDeployment90.cdp) {
  host.inst2=node-1
  host.inst4=node-1
  host.inst5=node-1
  host.inst1=node-2
  host.inst3=node-2
}

config (UniqueDeployment93.cdp) {
  host.inst2=node-1
  host.inst5=node-1
  host.inst1=node-2
  host.inst3=node-2
  host.inst4=node-2
}

config (UniqueDeployment94.cdp) {
  host.inst2=node-1
  host.inst1=node-2
  host.inst3=node-2
  host.inst4=node-2
  host.inst5=node-2
}

config (UniqueDeployment97.cdp) {
  host.inst2=node-1
  host.inst1=node-2
  host.inst3=node-2
  host.inst5=node-2
  host.inst4=node-3
}

config (UniqueDeployment98.cdp) {
  host.inst2=node-1
  host.inst1=node-2
  host.inst3=node-2
  host.inst4=node-3
  host.inst5=node-3
}

config (UniqueDeployment105.cdp) {
  host.inst2=node-1
  host.inst5=node-1
  host.inst1=node-2
  host.inst3=node-3
  host.inst4=node-3
}

config (UniqueDeployment107.cdp) {
  host.inst2=node-1
  host.inst1=node-2
  host.inst3=node-3
  host.inst4=node-3
  host.inst5=node-3
}

config (UniqueDeployment109.cdp) {
  host.inst3=node-1
  host.inst4=node-1
  host.inst1=node-2
  host.inst2=node-2
  host.inst5=node-2
}

config (UniqueDeployment115.cdp) {
  host.inst3=node-1
  host.inst1=node-2
  host.inst2=node-2
  host.inst5=node-2
  host.inst4=node-3
}

config (UniqueDeployment123.cdp) {
  host.inst5=node-1
  host.inst1=node-2
  host.inst2=node-2
  host.inst3=node-2
  host.inst4=node-3
}

config (UniqueDeployment126.cdp) {
  host.inst4=node-1
  host.inst5=node-1
  host.inst1=node-2
  host.inst2=node-2
  host.inst3=node-3
}

config (UniqueDeployment128.cdp) {
  host.inst4=node-1
  host.inst1=node-2
  host.inst2=node-2
  host.inst3=node-3
  host.inst5=node-3
}

config (UniqueDeployment132.cdp) {
  host.inst5=node-1
  host.inst1=node-2
  host.inst2=node-2
  host.inst3=node-3
  host.inst4=node-3
}

config (UniqueDeployment151.cdp) {
  host.inst1=node-2
  host.inst3=node-2
  host.inst5=node-2
  host.inst2=node-3
  host.inst4=node-3
}

config (UniqueDeployment157.cdp) {
  host.inst1=node-2
  host.inst4=node-2
  host.inst5=node-2
  host.inst2=node-3
  host.inst3=node-3
}

config (UniqueDeployment167.cdp) {
  host.inst2=node-1
  host.inst3=node-1
  host.inst4=node-2
  host.inst1=node-3
  host.inst5=node-3
}

config (UniqueDeployment177.cdp) {
  host.inst2=node-1
  host.inst5=node-1
  host.inst3=node-2
  host.inst1=node-3
  host.inst4=node-3
}

config (UniqueDeployment184.cdp) {
  host.inst2=node-1
  host.inst4=node-2
  host.inst5=node-2
  host.inst1=node-3
  host.inst3=node-3
}

config (UniqueDeployment185.cdp) {
  host.inst2=node-1
  host.inst4=node-2
  host.inst1=node-3
  host.inst3=node-3
  host.inst5=node-3
}

config (UniqueDeployment186.cdp) {
  host.inst2=node-1
  host.inst5=node-1
  host.inst1=node-3
  host.inst3=node-3
  host.inst4=node-3
}

config (UniqueDeployment197.cdp) {
  host.inst3=node-1
  host.inst2=node-2
  host.inst1=node-3
  host.inst4=node-3
  host.inst5=node-3
}

config (UniqueDeployment199.cdp) {
  host.inst4=node-1
  host.inst2=node-2
  host.inst3=node-2
  host.inst5=node-2
  host.inst1=node-3
}

config (UniqueDeployment207.cdp) {
  host.inst4=node-1
  host.inst5=node-1
  host.inst2=node-2
  host.inst1=node-3
  host.inst3=node-3
}

config (UniqueDeployment208.cdp) {
  host.inst4=node-1
  host.inst2=node-2
  host.inst5=node-2
  host.inst1=node-3
  host.inst3=node-3
}

config (UniqueDeployment211.cdp) {
  host.inst2=node-2
  host.inst4=node-2
  host.inst5=node-2
  host.inst1=node-3
  host.inst3=node-3
}

config (UniqueDeployment216.cdp) {
  host.inst3=node-1
  host.inst4=node-1
  host.inst5=node-1
  host.inst1=node-3
  host.inst2=node-3
}

config (UniqueDeployment220.cdp) {
  host.inst3=node-1
  host.inst4=node-2
  host.inst5=node-2
  host.inst1=node-3
  host.inst2=node-3
}

config (UniqueDeployment229.cdp) {
  host.inst3=node-2
  host.inst4=node-2
  host.inst5=node-2
  host.inst1=node-3
  host.inst2=node-3
}

