config (H3-DeploymentTemplate-0.cdp) {
  generator1.publishHertz=3
  generator2.publishHertz=4
  generator3.publishHertz=5
}

config (H3-DeploymentTemplate-1.cdp) {
  generator1.publishHertz=2
  generator2.publishHertz=3
  generator3.publishHertz=5
}

config (H3-DeploymentTemplate-2.cdp) {
  generator1.publishHertz=4
  generator2.publishHertz=3
  generator3.publishHertz=1
}

config (H3-DeploymentTemplate-3.cdp) {
  generator1.publishHertz=1
  generator2.publishHertz=5
  generator3.publishHertz=5
}

config (H3-DeploymentTemplate-4.cdp) {
  generator1.publishHertz=4
  generator2.publishHertz=4
  generator3.publishHertz=4
}

