config (UniqueDeployment6.cdp) {
  host.inst1=node-1
  host.inst3=node-1
  host.inst2=node-3
}

config (UniqueDeployment8.cdp) {
  host.inst1=node-1
  host.inst2=node-3
  host.inst3=node-3
}

config (UniqueDeployment9.cdp) {
  host.inst2=node-1
  host.inst3=node-1
  host.inst1=node-2
}

config (UniqueDeployment10.cdp) {
  host.inst2=node-1
  host.inst1=node-2
  host.inst3=node-2
}

config (UniqueDeployment12.cdp) {
  host.inst3=node-1
  host.inst1=node-2
  host.inst2=node-2
}

config (UniqueDeployment13.cdp) {
  host.inst1=node-2
  host.inst2=node-2
  host.inst3=node-2
}

config (UniqueDeployment16.cdp) {
  host.inst1=node-2
  host.inst3=node-2
  host.inst2=node-3
}

config (UniqueDeployment17.cdp) {
  host.inst1=node-2
  host.inst2=node-3
  host.inst3=node-3
}

config (UniqueDeployment23.cdp) {
  host.inst2=node-2
  host.inst1=node-3
  host.inst3=node-3
}

config (UniqueDeployment26.cdp) {
  host.inst1=node-3
  host.inst2=node-3
  host.inst3=node-3
}

