<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<cuts:node xmlns="http://www.dre.vanderbilt.edu/CUTS/schemas"
           xmlns:cuts="http://www.dre.vanderbilt.edu/CUTS/schemas"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.dre.vanderbilt.edu/CUTS/schemas cutsnode.xsd">

  <!-- This is the active environment. All other environments will
       remain inactive until they are swapped for this one -->
  <environment id="default" inherit="true" active="true">
    <variables>
      <!-- import variables -->
      <import location="environment.txt" type="text" />

      <!-- inline variables -->
      <variable name="USERNAME" value="James H. Hill" />
      <variable name="NameServiceIOR" value="corbaloc:iiop:localhost:60003/NameService" />
    </variables>

    <startup>
      <process id="naming.service">
        <executable>${TAO_ROOT}/orbsvcs/Naming_Service/Naming_Service</executable>
        <arguments> -m 0 -ORBEndpoint iiop://localhost:60003 -o ns.ior</arguments>
      </process>

      <process id="barrier.nodemanager" waitforcompletion="true">
        <executable>${CUTS_ROOT}/bin/cuts-barrier_d</executable>
        <arguments> -ORBEndpoint iiop://localhost:50000 -n 1</arguments>
      </process>

      <process id="dance.execution.manager" waitforcompletion="false">
        <executable>${DANCE_ROOT}/bin/dance_execution_manager</executable>
        <arguments> -o EM.ior</arguments>
      </process>
    </startup>
  </environment>
</cuts:node>
