<?xml version='1.0' encoding='utf-8' ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name="CUTS Modeling Tools for CoSMIC"
           Id="9A601859-E2D1-4C1F-B897-B13fEA0261B0"
           UpgradeCode="1CEF4517-4472-4A6F-8D4E-4D5B5F3B240A"
           Language="1033" Codepage="1252" Version="0.2.1"
           Manufacturer="DOC Group, ISIS, Vanderbilt University">

    <Package Keywords='Installer'
             Description='CUTS Modeling Tools for CoSMIC'
             Manufacturer='DOC Group, ISIS, Vanderbilt University'
             InstallerVersion='200' Languages='1033' Compressed='yes'
             SummaryCodepage='1252' />

    <!-- Wix variables -->
    <WixVariable Id="WixUILicenseRtf" Value="$(env.CUTS_ROOT)\docs\License.rtf" />
    <WixVariable Id="WixUIBannerBmp"  Value="images\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp"  Value="images\dlgbmp.bmp" />

    <!-- installation media -->
    <Media Id="1" Cabinet="CUTS_CoSMIC.cab" EmbedCab="yes" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id="SystemFolder" />

      <Directory Id="ProgramFilesFolder" Name="Program Files">
        <Directory Id="ISIS" Name="ISIS">
          <Directory Id="INSTALLDIR" Name="CUTS" />
        </Directory>
      </Directory>
    </Directory>

    <!-- product features -->
    <Feature Id="CUTS_CoSMIC_feature" Title="CUTS Modeling Tools"
             Display="collapse" Absent="disallow"
             Description="Installs the default CUTS modeling tools for CoSMIC"
             Level="1" ConfigurableDirectory="INSTALLDIR"
             AllowAdvertise="no">

      <!-- gather all the CUTS related components -->
      <ComponentGroupRef Id="CUTS_CoSMIC" Primary="yes" />

      <!-- gather all the third-party components -->
      <ComponentRef Id="xerces" />
      <ComponentRef Id="UDM" />

      <!-- include the VC merge modules -->
      <FeatureRef Id="vc_merge_modules" />
    </Feature>

    <!-- user interface -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>

  <?include CUTS_CoSMIC.wxi ?>

  <?include thirdparty\xerces.wxi ?>
  <?include thirdparty\udm.wxi ?>
</Wix>
