<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<cuts:node xmlns="http://cuts.cs.iupui.edu"
           xmlns:cuts="http://cuts.cs.iupui.edu"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://cuts.cs.iupui.edu cutsnode.xsd">

  <environment id="default" inherit="true" active="true">
    <!-- environment variables for this environment -->
    <variables>
      <variable name="NameServiceIOR" value="corbaloc:iiop:localhost:60003/NameService" />
    </variables>

    <startup>
      <!-- NamingService -->
      <process id="dance.namingservnce" waitforcompletion="false">
        <executable>${TAO_ROOT}/orbsvcs/Naming_Service/Naming_Service</executable>
        <arguments> -m 0 -ORBEndpoint iiop://localhost:60003 -o ns.ior</arguments>
      </process>

      <!-- List of DAnCE NodeManager executions -->
      <process id="dance.nodemanager.pingnode" waitforcompletion="false">
        <executable>${DANCE_ROOT}/bin/dance_node_manager</executable>
        <arguments> -ORBEndpoint iiop://localhost:30000 -s ${DANCE_ROOT}/bin/dance_locality_manager -n PingNode=PingNode.ior -t 30 --instance-nc corbaloc:rir:/NameService</arguments>
        <workingdirectory>../lib</workingdirectory>
      </process>

      <process id="dance.nodemanager.pongnode" waitforcompletion="false">
        <executable>${DANCE_ROOT}/bin/dance_node_manager</executable>
        <arguments> -ORBEndpoint iiop://localhost:30001 -s ${DANCE_ROOT}/bin/dance_locality_manager -n PongNode=PongNode.ior -t 30 --instance-nc corbaloc:rir:/NameService</arguments>
        <workingdirectory>../lib</workingdirectory>
      </process>

      <!-- the one and only execution manager -->
      <process id="dance.executionmanager" waitforcompletion="false">
        <executable>${DANCE_ROOT}/bin/dance_execution_manager</executable>
        <arguments> -eEM.ior --node-map PingPong.nodemap</arguments>
      </process>
    </startup>
  </environment>
</cuts:node>
