<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Untitled Page</title>
    <meta http-equiv="Content-Type" content="text/html;" />
    <link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body bgcolor="#CCCCCC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <form id="form1" runat="server">
    <div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000"
            height="29">
            <tr>
                <td align="left" width="408">
                    <img src="images/links_lt.jpg" width="408" height="30">
                </td>
                <td align="right" nowrap>
                    <a href="CreateNewUT.aspx" class="links">Create New UT</a> &nbsp; &nbsp;
                    <a href="SavedUTs.aspx" class="links">Saved UTs</a> &nbsp; &nbsp;
                    <a href="ChartDynamic.aspx" class="links">Chart Dynamic</a>&nbsp; &nbsp;
                    <a href="CreateChart.aspx" class="links">Create Chart</a> &nbsp; &nbsp;
                    <a href="SavedCharts.aspx" class="links">Saved Charts</a>
                    &nbsp; &nbsp;<a href="#" class="links">Contact Us &nbsp;</a>
                </td>
            </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" height="86" bgcolor="#000000">
            <tr>
                <td valign="top">
                    <img src="images/site_name.jpg" width="474" height="86">
                </td>
            </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
            <tr>
                <td width="30">
                    <img src="images/spacer.gif" width="30" height="30">
                </td>
                <td width="99%" height="395" valign="top" class="text">
                    <br>
                    <!-- BeginEditable "content" -->
                    <asp:ContentPlaceHolder runat="server" ID="main" />
                    
                    <!-- #EndEditable -->
                </td>
                <td width="30">
                    <img src="images/spacer.gif" width="30" height="30">
                </td>
                <td width="10" bgcolor="#999999">
                    <img src="images/spacer.gif" width="10" height="30">
                </td>
                <td width="150" valign="top" bgcolor="#999999" class="menutext">
                    <img src="images/spacer.gif" width="150" height="16" /><br />
                    &nbsp;
                   
                    <!-- BeginEditable "menu" -->
                    <asp:ContentPlaceHolder runat="server" ID="side" />
                    
                    
                    <!-- #EndEditable -->
                    
                </td>
                <td width="10" bgcolor="#999999">
                    <img src="images/spacer.gif" width="10" height="30">
                </td>
            </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" height="30" bgcolor="#333333">
            <tr>
                <td align="center" class="footer">
                    &copy; 2005 www.yoursitename.com - All Rights Reserved. Designed by <a href="http://www.smartwebby.com"
                        target="_blank" class="footer">SmartWebby.com</a>
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
