.title { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; 
font-weight: bold; color: #000000} .bullet { 
list-style-type: square; list-style-image: url(images/bullet.gif); text-decoration: none; line-height: 16px} .text { font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px; line-height: 18px; color: #000000; clip:   rect(   )} a:hover { color: #999999; 
text-decoration: none} .menutext { font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; text-decoration: 
none; line-height: 16px; font-weight: normal} a { color: #990000} a { } a { font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal} .subtitle { font-family: Verdana, 
Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; font-weight: bold; 
text-decoration: none} .menusubtitle { font-family: Verdana, Arial, Helvetica, 
sans-serif; font-size: 10px; color: #000000; text-decoration: none; font-weight: 
bold} .links { font-family: 
Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #CCCCCC; text-decoration: 
none; vertical-align: middle; font-weight: bold} .menutext:hover { color: #000000; 
text-decoration: none; font-weight: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px} .links:hover { color: #FFFFFF}
.bulletmenu { list-style-type: disc; left: -20px; clip:   rect(   ); position: relative; list-style-image: url(images/bullet_menu.gif)}
.footer { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #CCCCCC; text-decoration: none; vertical-align: middle }
.footer:hover { color: #FFFFFF}
