config (e2e-ConfigTemplate-1.cdp) {
  generator1.publishHertz=1
  generator2.publishHertz=4
  generator3.publishHertz=3
  generator4.publishHertz=2
  generator5.publishHertz=4
  generator6.publishHertz=2
  generator7.publishHertz=5
}

config (e2e-ConfigTemplate-2.cdp) {
  generator1.publishHertz=5
  generator2.publishHertz=2
  generator3.publishHertz=4
  generator4.publishHertz=2
  generator5.publishHertz=5
  generator6.publishHertz=1
  generator7.publishHertz=1
}

config (e2e-ConfigTemplate-3.cdp) {
  generator1.publishHertz=1
  generator2.publishHertz=4
  generator3.publishHertz=2
  generator4.publishHertz=5
  generator5.publishHertz=3
  generator6.publishHertz=4
  generator7.publishHertz=5
}
