<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<cuts:test xmlns="http://www.dre.vanderbilt.edu/CUTS"
           xmlns:cuts="http://www.dre.vanderbilt.edu/CUTS"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.dre.vanderbilt.edu/CUTS test.xsd">

  <services>
    <service id="logging">
      <location>CUTS_Testing_Log_Message_Listener</location>
      <entryPoint>_make_CUTS_Testing_Log_Message_Listener</entryPoint>
      <params> -ORBInitRef LoggingServer=corbaloc:iiop:localhost:30000/LoggingServer</params>
    </service>

    <service id="daemon">
      <location>CUTS_Testing_Server</location>
      <entryPoint>_make_CUTS_Testing_Server</entryPoint>
      <params>-ORBEndpoint iiop://localhost:50000</params>
    </service>

    <service id="summary">
      <location>CUTS_Testing_Summary</location>
      <entryPoint>_make_CUTS_Test_Summary_Service</entryPoint>
    </service>
  </services>
</cuts:test>
