*
{
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 11px;
}
/* Used mainly on the unittest page,
    where there are a lot of buttons
    to manage.  */
div.button_array, span.button_array
{
    padding-left:60px; padding-top:5px; padding-bottom:6px;
}

h1,h2,h3,h4,h5,h6
{
    font-family: Verdana, Arial, Sans-Serif;
    font-weight: 800;
}
h1
{
  font-size:18pt;
}

h2
{
  font-size:14pt;
}

h3
{
  font-size:12pt;
}

.title
{
  font-weight:bold;
}

.console
{
  border: 3px solid black;
}

.console_text
{
  padding: 5px;
}

.menu_item
{
  font-size: small;
}

.underline
{
  text-decoration: underline;
}

a
{
  color:blue;
}

a:hover
{
  color:red;
}

td.menu a
{
  color: black;
  text-decoration:none;
}

td.menu a:hover
{
  color: red;
  text-decoration:none;
}

.title
{
  font-weight:bold;
}
table.view_wrapper
{
    border: solid 1px #9999FF;
    border-top-width: 0px;
    width: 100%;
}
/**
 * Default datagrid styles
 */
.alternate-row
{
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 12px;
  background-color: #9999FF;
}

.header
{
  font-weight: bold;
  text-align: center;
  line-height: 12px;
}

.required
{
  color:red;
}

table.performance
{

}

th.performance-name
{
  text-align: left;
  width: 200px;
}

td.performance-name
{
  text-align: right;
  width: 200px;
}

td.performance-data-count, th.performance-data-count
{
  text-align: center;
  width: 50px;
}

td.performance-data, th.performance-data
{
  text-align: center;
  width: 125px;
}

.performance-ut_view-package_name
{
  font-size:1.1em;
  font-weight:bold;
  margin-bottom:10px;
}

.performance-ut-grid
{
  margin-left:60px;
}

.message
{
  padding: 10px;
}

.msg_error
{
  color: red;
}

.msg_warning
{
  color: yellow;
}

.message_info
{
  color: black;
}

.default_width
{
  width: 300px;
}

.larger_width
{
  width: 500px;
}

.button
{
  width: 90px;
}
