<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<cuts:node xmlns="http://www.dre.vanderbilt.edu/CUTS"
           xmlns:cuts="http://www.dre.vanderbilt.edu/CUTS"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.dre.vanderbilt.edu/CUTS cutsnode.xsd">

  <tasklist>
    <task id="cuts.logging.client">
      <executable>${CUTS_ROOT}/bin/cutslog</executable>
      <arguments> -ORBEndpoint ${REMOTE_ENDPOINT} --port=${LOCALHOST_PORT}</arguments>
    </task>
  </tasklist>
</cuts:node>
