<?xml version='1.0' encoding='UTF-8' standalone='no' ?>
<cuts:logging xmlns='http://www.dre.vanderbilt.edu/CUTS'
              xmlns:cuts='http://www.dre.vanderbilt.edu/CUTS'
              xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
              xsi:schemaLocation='http://www.dre.vanderbilt.edu/CUTS logging.xsd'>
  <client>corbaloc:iiop:localhost:30000/CUTS/TestLoggerClient</client>
</cuts:logging>
