<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<cuts:test xmlns="http://www.dre.vanderbilt.edu/CUTS"
           xmlns:cuts="http://www.dre.vanderbilt.edu/CUTS"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.dre.vanderbilt.edu/CUTS test.xsd">

  <startup>
    <executable>${DANCE_ROOT}/bin/dance_plan_launcher</executable>
    <arguments> -k file://EM.ior -x DeploymentPlan.cdp</arguments>
  </startup>

  <shutdown>
    <executable>${DANCE_ROOT}/bin/dance_plan_launcher</executable>
    <arguments> -k file://EM.ior -x DeploymentPlan.cdp -s</arguments>
  </shutdown>

  <services>
    <!-- Load the logging service. This service connects to the logging
         server and listens for messages assigned to the test UUID -->
    <service id="service.logging">
      <location>CUTS_Testing_Log_Message_Listener</location>
      <entryPoint>_make_CUTS_Testing_Log_Message_Listener</entryPoint>
      <params>-ORBInitRef LoggingServer=corbaloc:iiop:localhost:50001/LoggingServer</params>
    </service>
  </services>

</cuts:test>
