<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<cuts:node xmlns="http://www.dre.vanderbilt.edu/CUTS"
           xmlns:cuts="http://www.dre.vanderbilt.edu/CUTS"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.dre.vanderbilt.edu/CUTS cutsnode.xsd">

  <tasklist>
    <task id="App1">
      <executable>${CUTS_ROOT}/tests/cuts/utils/Node_Daemon/CUTS_TestApp1</executable>
      <arguments></arguments>
    </task>
    
    <task id="App2" delay="40">
      <executable>${CUTS_ROOT}/tests/cuts/utils/Node_Daemon/CUTS_TestApp2</executable>
      <arguments></arguments>
    </task>
    
    </tasklist>
</cuts:node>
