<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<cuts:node xmlns="http://www.cs.iupui.edu/CUTS/schemas"
           xmlns:cuts="http://www.cs.iupui.edu/CUTS/schemas"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.cs.iupui.edu/CUTS/schemas cutsnode.xsd">

  <environment id="default" inherit="true" active="true">
    <!-- environment variables for this environment -->
    <variables>
      <variable name="NameServiceIOR" value="corbaloc:iiop:localhost:60003/NameService" />
    </variables>

    <startup>
      <!-- LoggingServer:
           This should be run on a separate machine where execution traces
           will be collected -->
      <process id="cuts.logging.server" waitforcompletion="false">
        <executable>${CUTS_ROOT}/bin/cuts-logging-server</executable>
        <arguments>--register-with-iortable=LoggingServer -ORBEndpoint iiop://localhost:50001 -v --debug</arguments>
      </process>

      <!-- LoggingClient:
           Each host in the test execution should run a logging client. The
           logging client must connect with the logging server. -->
      <process id="cuts.logging.client" waitforcompletion="false" delay="2.0">
        <executable>${CUTS_ROOT}/bin/cuts-logging-client</executable>
        <arguments>--register-with-iortable=LoggingClient -ORBEndpoint iiop://localhost:50000 -v --debug -ORBInitRef LoggingServer=corbaloc:iiop:localhost:50001/LoggingServer</arguments>
      </process>

      <!-- The remaining processes are associatied with DAnCE. They are needed
           to successfully deploy a CCM application -->

      <!-- NamingService -->
      <process id="dance.naming.service" waitforcompletion="false">
        <executable>${TAO_ROOT}/orbsvcs/Naming_Service/Naming_Service</executable>
        <arguments>-m 0 -ORBEndpoint iiop://localhost:60003 -o ns.ior</arguments>
      </process>

      <!-- List of DAnCE NodeManager executions -->
      <process id="dance.nodemanager.mainnode" waitforcompletion="false">
        <executable>${DANCE_ROOT}/bin/dance_node_manager</executable>
        <arguments>-ORBEndpoint iiop://localhost:30000 -s ${DANCE_ROOT}/bin/dance_locality_manager -n MainNode=MainNode.ior -t 30 --instance-nc corbaloc:rir:/NameService</arguments>
        <workingdirectory>../lib</workingdirectory>
      </process>

      <!-- The one and only execution manager -->
      <process id="dance.executionmanager" waitforcompletion="false">
        <executable>${DANCE_ROOT}/bin/dance_execution_manager</executable>
        <arguments>-eEM.ior --node-map DeploymentPlan.nodemap</arguments>
      </process>
    </startup>
  </environment>
</cuts:node>
