<?xml version="1.0" encoding="utf-8" standalone="no" ?>
<cuts:node xmlns="http://www.cs.iupui.edu/CUTS/schemas"
           xmlns:cuts="http://www.cs.iupui.edu/CUTS/schemas"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.cs.iupui.edu/CUTS/schemas cutsnode.xsd">

  <environment id="default" inherit="true" active="true">
    <startup>
      <!-- LoggingServer:
           This should be run on a separate machine where execution traces
           will be collected -->
      <process id="cuts.logging.server" waitforcompletion="false">
        <executable>${CUTS_ROOT}/bin/cuts-logging-server</executable>
        <arguments>--register-with-iortable=LoggingServer -ORBEndpoint iiop://localhost:50001 -v --debug</arguments>
      </process>

      <!-- LoggingClient:
           Each host in the test execution should run a logging client. The
           logging client must connect with the logging server. -->
      <process id="cuts.logging.client" waitforcompletion="false" delay="2.0">
        <executable>${CUTS_ROOT}/bin/cuts-logging-client</executable>
        <arguments>--register-with-iortable=LoggingClient -ORBEndpoint iiop://localhost:50000 -v --debug -ORBInitRef LoggingServer=corbaloc:iiop:localhost:50001/LoggingServer</arguments>
      </process>

      <!-- The remaining processes are associatied with DAnCE. They are needed
           to successfully deploy a CCM application -->

     <!-- List of DAnCE NodeManager executions -->
      <process id="dance.nodemanager.node1" waitforcompletion="false">
        <executable>${DANCE_ROOT}/bin/dance_node_manager</executable>
        <arguments>-ORBEndpoint iiop://localhost:30000 -s ${DANCE_ROOT}/bin/dance_locality_manager -n Node1=Node1.ior -t 30</arguments>
        <workingdirectory>../lib</workingdirectory>
      </process>
	  
	  <process id="dance.nodemanager.node2" waitforcompletion="false">
        <executable>${DANCE_ROOT}/bin/dance_node_manager</executable>
        <arguments>-ORBEndpoint iiop://localhost:30001 -s ${DANCE_ROOT}/bin/dance_locality_manager -n Node2=Node2.ior -t 30</arguments>
        <workingdirectory>../lib</workingdirectory>
      </process>
	  
	  <process id="dance.nodemanager.node3" waitforcompletion="false">
        <executable>${DANCE_ROOT}/bin/dance_node_manager</executable>
        <arguments>-ORBEndpoint iiop://localhost:30002 -s ${DANCE_ROOT}/bin/dance_locality_manager -n Node3=Node3.ior -t 30</arguments>
        <workingdirectory>../lib</workingdirectory>
      </process>

      <!-- The one and only execution manager -->
      <process id="dance.executionmanager" waitforcompletion="false">
        <executable>${DANCE_ROOT}/bin/dance_execution_manager</executable>
        <arguments>-eEM.ior --cdd DeploymentPlan.cdd</arguments>
      </process>
    </startup>
  </environment>
</cuts:node>
