<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<cuts:node xmlns="http://www.dre.vanderbilt.edu/CUTS/schemas"
           xmlns:cuts="http://www.dre.vanderbilt.edu/CUTS/schemas"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.dre.vanderbilt.edu/CUTS/schemas cutsnode.xsd">

  <!-- This is the active environment. All other environments will
       remain inactive until they are swapped for this one -->
  <environment id="default" inherit="true" active="true">
    <variables>
      <!-- import variables -->
      <import location="environment.txt" type="text" />

      <!-- inline variables -->
      <variable name="USERNAME" value="James H. Hill" />
      <variable name="NameServiceIOR" value="corbaloc:iiop:localhost:60003/NameService" />
    </variables>

    <startup>
      <process id="dance.execution.manager" delay="5" waitforcompletion="false">
        <after>
          <!-- list of process that must before this process -->
          <process id="dance.node.manager" />
        </after>

        <!-- main options for the process -->
        <executable>${DANCE_ROOT}/bin/dance_execution_manager</executable>
        <arguments>-o EM.ior</arguments>
      </process>

      <process id="dance.node.manager" delay="5" waitforcompletion="false">
        <after>
          <!-- list of process that must before this process -->
          <process id="naming.service" />
        </after>

        <!-- main options for the process -->
        <executable>${DANCE_ROOT}/bin/dance_node_manager</executable>
        <arguments>-ORBEndpoint iiop://`hostname`:10000 -s ${CIAO_ROOT}/bin/ciao_componentserver -n dance.node.manager -t 30 --instance-nc corbaloc:rir:/NameService</arguments>
      </process>

      <process id="naming.service">
        <executable>${TAO_ROOT}/orbsvcs/Naming_Service/Naming_Service</executable>
        <arguments>-m 0 -ORBEndpoint iiop://localhost:60003 -o ns.ior</arguments>
      </process>
    </startup>
  </environment>
</cuts:node>
